<footer class="footer-2" data-overlay="0">
        <div class="v-middle">
            <div class="row">
                <div class="large-2 medium-4 columns">
                    <div class="footer-logo">
                        <a href="#"><img src="{{ .Site.BaseURL }}/assets/images/wazihublogo.png" width="140" alt=""></a>
                    </div>
                    <!-- <p class="merriweather-font">Premium quality multipurpose HTML template</p> --> 
                    <div class="social-icons">
                        <ul>
                            <li><a href="https://twitter.com/wazihub" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/wazihub/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="large-4 medium-4 columns text-center">
                    <div class="footer-logo">
                        <a><img src="{{ .Site.BaseURL }}/assets/images/EU_Logo.png" width="140" alt=""></a>
                    </div>
                    <!-- <p class="merriweather-font">Premium quality multipurpose HTML template</p> --> 
                    <div style="margin-top:10px;">
                        <p class="copyright">This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 780229</p> 
                    </div>
                </div>
                <div class="large-3 medium-4 columns">
                    <div class="footer-links">
                        <h5>Categories</h5>
                        <ul>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Use Cases</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Media</a></li>
                            <li><a href="#">Tutorials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="large-3 medium-4 columns">
                    <div class="footer-links">
                        <h5>Recent posts</h5>
                        <ul>
                            {{ range first 3 .Data.Pages -}}
                                <li>
                                       <!-- {{ .Permalink }} -->
                                    <a href="{{ .Permalink }}"><strong>{{ .Title }}</strong></a> <span>{{ .Date.Format "Mon, Jan 2, 2006" }}</span> 
                                </li>
                            {{- end }}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="row">
                    <div class="large-12 columns text-center">
                        <p class="copyright">&copy; 2018 WAZIHUB. Made by <a href="https://cloudport.tech">Cloud Port</a>. All Rights Reserved.</p> 
                    </div>
                </div>
            </div>
        </div>
    </footer>
