<header class="transparent-bg text-white">
        <div class="row">
            <div class="logo">
                    <a href="/"><img class="large-logo" src="{{ .Site.BaseURL }}assets/images/wazihublogo.png" width="200" alt="Logo"> <img src="{{ .Site.BaseURL }}assets/images/wazihublogo_black.png" class="small-logo" width="200" alt="Logo"> </a>
            </div>
            <div class="menu-tint menu-trigger pushmenu"></div>
            <div class="menu">
                <div id="nav" class="pushmenu">
                        {{ partial "main-menu.html" . }}
                        <!--
                    <ul>
                        <li class="search"> <a href="#"><i class="fa fa-search"></i></a></li>
                        <li class="cart"><a href="shop_cart.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span>2</span></a>
                            <ul class="drop-down two-column">
                                <ul>
                                    <li>
                                        <a href="#" class="cart-item"> <span class="cart-item-image"><img src="{{ .Site.BaseURL }}assets/images/shop_item5.jpg"/></span> <span class="cart-item-desc">Jay Trim Fit Check Wool Sport Coat <span class="price">3 x $247.22</span></span>
                </a>
                                    </li>
                                    <li>
                                        <a href="#" class="cart-item"> <span class="cart-item-image"><img src="{{ .Site.BaseURL }}assets/images/shop_item8.jpg"/></span> <span class="cart-item-desc">Wavelength Woven Chambray Shirt <span class="price">2 x $65.99</span></span>
                </a>
                                    </li>
                                    <div class="cart-checkout">
                                        <div class="total-block"> <span class="total-label">Total:</span> <span class="cart-total">$873.64</span> </div>
                                        <a href="shop_cart.html" class="button small">View cart</a> <a href="shop_checkout.html" class="button small">Checkout</a> </div>
                                </ul>
                            </ul>
                        </li>
                        <li class="language"> <a href="#">En</a>
                            <ul class="drop-down">
                                <li> <a href="#">English</a> </li>
                                <li> <a href="#">Portuguese</a> </li>
                                <li> <a href="#">French</a> </li>
                            </ul>
                        </li>
                        <li> <a href="#"><i class="fa fa-user"></i></a>
                            <ul class="drop-down">
                                <li> <a href="page_login.html">Log in</a> </li>
                                <li> <a href="page_signup.html">Create account</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="menu-trigger" class="menu-trigger">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>-->
        <!-- SEARCH OVERLAY -->
        <!--
        <div class="search-overlay">
            <a href="#" class="close-search"></a>
            <form action="search.html" method="get">
                <input type="text" class="form-search" value="" placeholder="Type here to search...">
                <h5>Press enter to start</h5>
            </form>
        </div>-->
        <!-- END SEARCH OVERLAY -->
    </header>