<header class="transparent-bg text-white">
    
        <div class="row">
            <div class="logo">
                    <a href="/"><img class="large-logo" src="{{ .Site.BaseURL }}assets/images/wazihublogo.png" width="200" alt="Logo"> <img src="{{ .Site.BaseURL }}assets/images/wazihublogo_black.png" class="small-logo" width="200" alt="Logo"> </a>
            </div>
            <div class="menu-tint menu-trigger pushmenu"></div>
            <div class="menu">
                <div id="nav" class="pushmenu">
                        {{ partial "main-menu.html" . }}
                </div>
                <div id="menu-trigger" class="menu-trigger">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <!-- SEARCH OVERLAY -->
        <!--
        <div class="search-overlay">
            <a href="#" class="close-search"></a>
            <form action="search.html" method="get">
                <input type="text" class="form-search" value="" placeholder="Type here to search...">
                <h5>Press enter to start</h5>
            </form>
        </div>-->
        <!-- END SEARCH OVERLAY -->
    </header>