{{ define "main" }}
        <!-- HEADER -->
        {{ partial "header.html" . }}
        <!-- END HEADER -->
        <!-- INNER CONTAINER -->
        <div class="inner-container">
             <!-- SECTION -->
            <section class="split-section pt90 pb90 medium-height light-bg" data-overlay="0">
                    <div class="v-middle">
                        <div class="row">
                            <div class="large-6 columns v-middle text-left reveal-from-bottom">
                                <h2 class="numbered"><span class="number"></span> <span>What we do</span></h2>
                               <!-- <h2 class="reveal-from-bottom"><b>Our <em>Concept</em></b></h2> -->
                                <p class="lead reveal-from-bottom">{{ .Content }}</p>
                            </div>
                            <div class="large-6 columns v-middle">
                                <div class="video-placeholder video-box reveal-from-right">
                                    <a data-rel="lightcase" href="https://www.youtube.com/embed/sf7SRVEChbY?autoplay=1"> <img src="{{ .Site.BaseURL }}/assets/images/proto_board_waziup_WS.png" alt=""> <span class="button filled play"></span> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- END SECTION -->
        </div>
        <!-- END INNER CONTAINER -->
        <!-- FOOTER -->
        {{ partial "footer.html" . }}
        <!-- END FOOTER -->
        <!-- BACK TO TOP -->
        <a href="#0" class="backtotop"></a>
        <!-- END BACK TO TOP -->
{{ end }}