{{ define "main" }}
        <!-- HEADER -->
        {{ partial "header.html" . }}
        <!-- END HEADER -->
        <!-- INNER CONTAINER -->
        <div class="inner-container">
            <!-- SECTION -->
            <section class="full-height show-scrolldown-btn parallax" data-overlay="5" data-jarallax data-speed="0.2">
                <img class="jarallax-img" src="{{ .Site.BaseURL }}/assets/images/background/_DSC7887.jpg" alt="">
                <div class="v-middle">
                    <div class="row">
                        <div class="large-12 columns text-left">
                            <!--<h5 class="topheading reveal-from-bottom">Achieve your goals</h5>-->
                            <h2 class="reveal-from-bottom">Open<em>
                                <br><strong>IoT and Big-Data</strong></em>
                                <br>Innovation Platform</h2>
                            <!--<h4 class="subheader reveal-from-bottom">Accelerating Open IoT and Big-Data Innovation.</h4>-->
                           <!-- <div class="video-button-modal reveal-from-bottom"><a data-rel="lightcase" href="https://www.youtube.com/embed/sf7SRVEChbY?autoplay=1"><span class="button small filled play"></span> </a> <span>WAZIUP intro video</span></div> -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- END SECTION -->
             <!-- SECTION -->
            <section class="split-section pt90 pb90 medium-height light-bg" data-overlay="0">
                    <div class="v-middle">
                        <div class="row">
                            <div class="large-6 columns v-middle text-left reveal-from-bottom">
                                <h4 class="topheading reveal-from-bottom">Supporting IoT innovations in African IoT hubs</h4>
                               <!-- <h2 class="reveal-from-bottom"><b>Our <em>Concept</em></b></h2> -->
                                <p class="lead reveal-from-bottom">{{ .Content }}</p>
                            </div>
                            <div class="large-6 columns v-middle">
                                <div class="video-placeholder video-box reveal-from-right">
                                    <a data-rel="lightcase" href="https://www.youtube.com/embed/sf7SRVEChbY?autoplay=1"> <img src="{{ .Site.BaseURL }}/assets/images/farmer.jpg" alt=""> <span class="button filled play"></span> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                 <!-- SECTION -->
            <section class="dark-bg" data-overlay="0">
                <div class="v-middle">
                        <div class="row row-spacing-mb60">
                                <div class="medium-12 columns reveal-from-bottom">
                                    <div class="contentbox-style3">
                                        <h2 class="numbered"><span class="number"></span> <span>WAZIHUB Value Proposition</span></h2>
                                    </div>
                                </div>
                            </div>
                    <div class="row row-spacing-mb60">
                            <div class="medium-12 columns reveal-from-bottom">
                                    <div class="contentbox-style3">
                                        <p>
                                        <h4 class="numbered"><span>ACCELERATOR</span></h4>
                                        </p>
                                    </div>
                            </div>
                        <div class="medium-4 columns reveal-from-bottom">
                            <div class="contentbox-style3">
                                <h5 class="numbered"><span class="number">01</span> <span>IoT Bootcamps</span></h5>
                                <p>Maecenas sed lectus eget arcu viverra maximus et pellentesque purus. Nullam vestibulum nibh quis nisl condimentum molestie. Integer hendrerit tincidunt eros a rhoncus.</p>
                            </div>
                        </div>
                        <div class="medium-4 columns reveal-from-bottom">
                            <div class="contentbox-style3">
                                <h5 class="numbered"><span class="number">02</span> <span>Coaching & Training</span></h5>
                                <p>Fusce laoreet massa vel luctus tincidunt. Pellentesque fringilla, risus at elementum faucibus, nunc massa feugiat libero, et mattis libero ex quis purus.</p>
                            </div>
                        </div>
                        <div class="medium-4 columns reveal-from-bottom">
                            <div class="contentbox-style3">
                                <h5 class="numbered"><span class="number">03</span> <span>Growth Hacking</span></h5>
                                <p>Pellentesque fringilla, risus at elementum faucibus, nunc massa feugiat libero, et mattis libero ex quis purus. Cras ante sem, vestibulum sit amet tempor eu, aliquet vel lectus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row row-spacing-mb60">
                            <div class="medium-12 columns reveal-from-bottom">
                                    <div class="contentbox-style3">
                                        <p>
                                        <h4 class="numbered"><span>TECHNOLOGY</span></h4>
                                        </p>
                                    </div>
                            </div>
                        <div class="medium-4 columns reveal-from-bottom">
                            <div class="contentbox-style3">
                                <h5 class="numbered"><span class="number">04</span> <span>IoT Capacity Building</span></h5>
                                <p>Maecenas sed lectus eget arcu viverra maximus et pellentesque purus. Nullam vestibulum nibh quis nisl condimentum molestie. Integer hendrerit tincidunt eros a rhoncus.</p>
                            </div>
                        </div>
                        <div class="medium-4 columns reveal-from-bottom">
                            <div class="contentbox-style3">
                                <h5 class="numbered"><span class="number">05</span> <span>Rapid Prototyping</span></h5>
                                <p>Fusce laoreet massa vel luctus tincidunt. Pellentesque fringilla, risus at elementum faucibus, nunc massa feugiat libero, et mattis libero ex quis purus.</p>
                            </div>
                        </div>
                        <div class="medium-4 columns reveal-from-bottom">
                            <div class="contentbox-style3">
                                <h5 class="numbered"><span class="number">06</span> <span>Testing and Piloting</span></h5>
                                <p>Pellentesque fringilla, risus at elementum faucibus, nunc massa feugiat libero, et mattis libero ex quis purus. Cras ante sem, vestibulum sit amet tempor eu, aliquet vel lectus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row row-spacing-mb60">
                            <div class="medium-12 columns reveal-from-bottom">
                                    <div class="contentbox-style3">
                                        <p>
                                        <h4 class="numbered"><span>SUSTAINABILITY</span></h4>
                                        </p>
                                    </div>
                            </div>
                            <div class="medium-4 columns reveal-from-bottom">
                                <div class="contentbox-style3">
                                    <h5 class="numbered"><span class="number">07</span> <span>Business & Sustainability Model</span></h5>
                                    <p>Maecenas sed lectus eget arcu viverra maximus et pellentesque purus. Nullam vestibulum nibh quis nisl condimentum molestie. Integer hendrerit tincidunt eros a rhoncus.</p>
                                </div>
                            </div>
                            <div class="medium-4 columns reveal-from-bottom">
                                <div class="contentbox-style3">
                                    <h5 class="numbered"><span class="number">08</span> <span>Local Ecosystem</span></h5>
                                    <p>Fusce laoreet massa vel luctus tincidunt. Pellentesque fringilla, risus at elementum faucibus, nunc massa feugiat libero, et mattis libero ex quis purus.</p>
                                </div>
                            </div>
                            <div class="medium-4 columns reveal-from-bottom">
                                <div class="contentbox-style3">
                                    <h5 class="numbered"><span class="number">09</span> <span>First Market Replication</span></h5>
                                    <p>Pellentesque fringilla, risus at elementum faucibus, nunc massa feugiat libero, et mattis libero ex quis purus. Cras ante sem, vestibulum sit amet tempor eu, aliquet vel lectus.</p>
                                </div>
                            </div>
                        </div>
                </div>
            </section>
            <!-- END SECTION -->
                <!-- END SECTION -->
            <!-- SECTION 
            <section class="light-bg" data-overlay="0">
                    <div class="v-middle">
                        <div class="row row-spacing-mb60">
                            <div class="medium-12 columns reveal-from-bottom">
                                <div class="contentbox-style3">
                                    <h2 class="numbered"><span class="number"></span> <span></span></h2>
                                    <p></p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </section>-->
                <!-- END SECTION -->
        </div>
        <!-- END INNER CONTAINER -->
        <!-- FOOTER -->
        {{ partial "footer.html" . }}
        <!-- END FOOTER -->
        <!-- BACK TO TOP -->
        <a href="#0" class="backtotop"></a>
        <!-- END BACK TO TOP -->
{{ end }}