{{ define "main" }}
<!-- HEADER -->
{{ partial "header.html" . }}
<!-- END HEADER -->
<!-- INNER CONTAINER -->
<div class="inner-container">
    <!-- SECTION -->
    <section class="full-height show-scrolldown-btn parallax" data-overlay="5" data-jarallax data-speed="0.2">
        <img class="jarallax-img" src="{{ .Site.BaseURL }}/img/bootcamps/ksi/ksi3.jpg" alt="">
        <div class="v-middle">
            <div class="row">
                <div class="large-12 columns text-left">
                    <!--<h5 class="topheading reveal-from-bottom">Achieve your goals</h5>-->
                    <h2 class="reveal-from-bottom">IoT <em>
                            <br><strong> Bootcamps </strong></em>
                        <br> for Developing countries</h2>
                    <!--<h4 class="subheader reveal-from-bottom">Accelerating Open IoT and Big-Data Innovation.</h4>-->
                    <div class="video-button-modal reveal-from-bottom"><a data-rel="lightcase" href="https://www.youtube.com/embed/sf7SRVEChbY?autoplay=1"><span
                                class="button small filled play"></span> </a> <span>WAZIUP intro video</span></div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION -->

    <!-- SECTION -->
    <section class="dark-bg" data-overlay="0">
        <div class="v-middle">
            <div class="row">
                <div class="large-12 columns text-center">
                    <h2 class="reveal-from-bottom"> IoT <em><strong>Bootcamps</strong></em></h2>
                    <h5 class="topheading reveal-from-bottom">Entrepreneurs | Developers | Students</h5>

                </div>
                <div class="large-12 columns text-center">

                    <h4 class="subheader reveal-from-bottom">Learn how to design and deploy end-to-end IoT sensor
                        solutions using the WAZIUP platform and gateway for your application in developing countries.
                        Interested in running an IoT bootcamp? </h4>
                    <p><a class="button  rounded filled reveal-from-bottom" href="/contact"><i class=""></i> Request
                            Info</a></p>
                    <p><br>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION -->
    <!-- SECTION -->
    <section class="overlap p0 reveal-from-bottom" data-overlay="0">
        <div class="v-middle">
            <div class="row row-spacing-mb30">
                <div data-equalizer data-equalize-on="medium">
                    <div class="medium-4 columns boxed pt65 pb65" style="background:#4394fd !important;">
                        <div data-equalizer-watch>
                            <!-- COUNTER BOX -->
                            <div class="counter-box"> <i class="icon-diamond text-white reveal-from-bottom"></i>
                                <h2 class="text-white reveal-from-bottom"><span class="counter counter-default">3</span></h2>
                                <h5 class="text-white reveal-from-bottom">Bootcamps</h5>
                            </div>
                            <!-- END COUNTER BOX -->
                        </div>
                    </div>
                    <div class="medium-4 columns boxed pt65 pb65" style="background:#4394fd !important;">
                        <div data-equalizer-watch>
                            <!-- COUNTER BOX -->
                            <div class="counter-box"> <i class="text-white icon-heart reveal-from-bottom"></i>
                                <h2 class="text-white reveal-from-bottom"><span class="counter counter-default">15</span></h2>
                                <h5 class="text-white reveal-from-bottom">Trainers</h5>
                            </div>
                            <!-- END COUNTER BOX -->
                        </div>
                    </div>
                    <div class="medium-4 columns boxed pt65 pb65" style="background:#4394fd !important;">
                        <div data-equalizer-watch>
                            <!-- COUNTER BOX -->
                            <div class="counter-box"> <i class="icon-user-2 text-white reveal-from-bottom"></i>
                                <h2 class="text-white reveal-from-bottom"><span class="counter counter-default">70</span></h2>
                                <h5 class="text-white reveal-from-bottom">Participants</h5>
                            </div>
                            <!-- END COUNTER BOX -->
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- SECTION -->
    <!-- SECTION -->
    <section data-overlay="0">
        <div class="v-middle">
            <div class="row">
                <div class="large-12 columns text-center mb100 small-mb50">
                    <h5 class="topheading reveal-from-bottom">Bootcamp Schedule</h5>
                    <h3 class="reveal-from-bottom">Join one of our bootcamps</h3>
                </div>
            </div>
            <div class="large-12 columns text-center">
                <div class="large-8 large-centered columns">
                    <ul class="price-list price-list-button text-left">
                        <!-- BOOTCAMP ENTRY -->
                        {{ range .Data.Pages}}
                        <li>
                            <span class="inner">
                                <span class="price">{{ with .Params.start_date }}{{ dateFormat "Monday, Jan 2 2006" .
                                    }}{{ end }} - {{ with .Params.end_date }}{{ dateFormat "Monday, Jan 2 2006" . }}{{
                                    end }}</span>
                                <span class="item">{{ .Title }}</span>
                                <span class="description">
                                    {{ .Params.venue }}
                                </span>
                            </span>
                            <span class="button-wrapper">
                                <a href="#" class="button">Join Class</a>
                            </span>
                        </li>
                        {{ end }}
                        <!-- END BOOTCAMP ENTRY -->
                    </ul>
                </div>
            </div>
        </div>
</div>
</section>
<!-- END SECTION -->
<section class="parallax" data-overlay="5" data-jarallax data-speed="0.2">
    <img class="jarallax-img" src="{{ .Site.BaseURL }}/assets/images/waziup-hcmut.jpg" alt="">
    <div class="v-middle">
        <div class="row">
            <!-- HEADING -->
            <div class="large-12 columns text-center mb100 small-mb50">
                <h2 class="reveal-from-bottom">Subscribe to our <em> mailing list</em></h2>
            </div>
            <!-- END HEADING -->
            <div class="large-5 small-12 large-centered columns reveal-from-bottom">
                <form role="form" class="call-to-action-form" action="https://waziup.us12.list-manage.com/subscribe/post?u=25f241835e6aa7ce0342aab22&amp;id=f8b44336d4"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                    target="_blank" novalidate>
                    <input type="email" value="" name="EMAIL" id="mce-EMAIL" required class="rounded mb0" placeholder="Email Address">
                    <button type="submit" id="mc-embedded-subscribe" name="subscribe" class="rounded filled">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION -->
</div>
<!-- END INNER CONTAINER -->
<!-- FOOTER -->
{{ partial "footer.html" . }}
<!-- END FOOTER -->
<!-- BACK TO TOP -->
<a href="#0" class="backtotop"></a>
<!-- END BACK TO TOP -->
{{ end }}