{{ define "main" }}
<!-- HEADER -->
{{ partial "header.html" . }}
<!-- END HEADER -->
<!-- INNER CONTAINER -->
<div class="inner-container">
    <!-- SECTION -->
    <section class="full-height show-scrolldown-btn parallax dark-bg" data-overlay="0" data-jarallax data-speed="0.2">
        <div class="v-middle">
            <div class="row">
                <div class="medium-7 medium-push-5 columns v-middle reveal-from-right">
                    <div class="offset-image-right"> <img src="{{ .Site.BaseURL }}/assets/images/wazihub_program.png" />
                    </div>
                </div>
                <div class="medium-5 medium-pull-7 columns v-middle">
                    <h3 class="reveal-from-bottom">WAZIHUB IOT Innovation Program </h3>
                    <p class="lead reveal-from-bottom">The three phases of our progam (Ideation, Prototyping and Growth
                        Hack) make available the opportunity to get trained and polish up your ideas, bring your
                        innovations to life through rapid prototyping, and becoming part of a vibrant ecosystem that
                        aims to support you.
                    </p>
                    <a href="#" class="button filled rounded reveal-from-bottom">Apply Now</a>
                </div>
            </div>
    </section>
    <!-- END SECTION -->

    <!-- SECTION -->
    <section data-overlay="0">
        <div class="v-middle">
            <div class="row">
                <div class="large-12 columns text-center mb100 small-mb50">
                    <h3 class="reveal-from-bottom">Join the WAZIHUB Program</h3>
                    <h4 class="subheader reveal-from-bottom">Entrepreneurs, Startups and Tech Hubs can apply to join any
                        of our program phases through our regional partners across Africa. Startups working in Food
                        Delivery, Logistics, Supply Chain, Food Safety & Precision Agriculture Solutions are encouraged
                        to apply</h4>
                </div>
                <div class="large-12 columns text-center">
                    <ul class="accordion" data-responsive-accordion-tabs="accordion large-tabs"
                        data-allow-all-closed="true">
                        <li class="accordion-item is-active" data-accordion-item>
                            <a href="#" class="accordion-title">Ideation Phase</a>
                            <div class="accordion-content" data-tab-content>
                                <div class="large-8 large-centered columns">
                                    <ul class="price-list price-list-button text-left">
                                        <li>
                                            <span class="inner">
                                                <span class="item">iLabAfrica</span>
                                                <span class="description">
                                                    Kenya
                                                </span>
                                            </span>
                                            <span class="button-wrapper">
                                                <a href="https://www.f6s.com/ilabafricaideation/apply" class="button">Apply Now</a>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="inner">
                                                <span class="item">Hive Colab</span>
                                                <span class="description">
                                                    Uganda
                                                </span>
                                            </span>
                                            <span class="button-wrapper">
                                                <a href="#" class="button">Apply Now</a>
                                            </span>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="inner">
                                                <span class="item">Kumasi Hive</span>
                                                <span class="description">
                                                    Ghana
                                                </span>
                                            </span>
                                            <span class="button-wrapper">
                                                <a href="https://www.f6s.com/kumasihiveideation/apply" class="button">Apply Now</a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="accordion-title">Prototyping Phase</a>
                            <div class="accordion-content" data-tab-content>
                                <div class="medium-8 large-centered columns">
                                    <ul class="price-list price-list-button text-left">
                                        <li>
                                            <span class="inner">
                                                <span class="item">iLabAfrica</span>
                                                <span class="description">
                                                    Kenya
                                                </span>
                                            </span>
                                            <span class="button-wrapper">
                                                <a href="https://www.f6s.com/ilabafricaprototyping/apply" class="button">Apply Now</a>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="inner">
                                                <span class="item">Hive Colab</span>
                                                <span class="description">
                                                    Uganda
                                                </span>
                                            </span>
                                            <span class="button-wrapper">
                                                <a href="#" class="button">Apply Now</a>
                                            </span>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="inner">
                                                <span class="item">Kumasi Hive</span>
                                                <span class="description">
                                                    Ghana
                                                </span>
                                            </span>
                                            <span class="button-wrapper">
                                                <a href="https://www.f6s.com/kumasihiveprototyping/apply" class="button">Apply Now</a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="accordion-title">Growth Hack Phase</a>
                            <div class="accordion-content" data-tab-content>
                                <div class="medium-8 large-centered columns">
                                    <ul class="price-list price-list-button text-left">
                                        <li>
                                            <span class="inner">
                                                <span class="item">iLabAfrica</span>
                                                <span class="description">
                                                    Kenya
                                                </span>
                                            </span>
                                            <span class="button-wrapper">
                                                <a href="https://www.f6s.com/ilabafricagrowthhacking/apply" class="button">Apply Now</a>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="inner">
                                                <span class="item">Hive Colab</span>
                                                <span class="description">
                                                    Uganda
                                                </span>
                                            </span>
                                            <span class="button-wrapper">
                                                <a href="#" class="button">Apply Now</a>
                                            </span>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="inner">
                                                <span class="item">Kumasi Hive</span>
                                                <span class="description">
                                                    Ghana
                                                </span>
                                            </span>
                                            <span class="button-wrapper">
                                                <a href="https://www.f6s.com/kumasihivegrowthhacking/apply" class="button">Apply Now</a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION -->
    <!-- SECTION -->
    <section class="split-section medium-height">
        <div class="medium-6 columns v-middle pl90 pr130 text-center parallax" data-overlay="3" data-jarallax
            data-speed="0.2">
            <img class="jarallax-img" src="{{ .Site.BaseURL }}/img/bootcamps/2018/12/uganda/ug1.JPG" alt=""> </div>
        <div class="medium-6 columns v-middle pl90 pr130 light-bg">
            <h2 class="topheading reveal-from-bottom">The program provides startups & entrepreneurs with:</h2>
            <p>
                <h4 class="numbered"><span class="number">01</span> <span>Free IoT dev kit, unlimited access to industry
                        experts, access to clients
                    </span></h4>
            </p>

            <h4 class="numbered"><span class="number">02</span> <span>Free IoT hardware development kit for rapid
                    prototyping</span></h4>
            </p>

            <h4 class="numbered"><span class="number">03</span> <span>Free access to IoT Open API and Cloud platform to
                    develop customized applications</span></h4>
            </p>
            <h4 class="numbered"><span class="number">04</span> <span>Free training and IoT capacity building</span></h4>
        </p>
            
        </div>
    </section>
    <!-- END SECTION -->
</div>
<!-- END INNER CONTAINER -->
<!-- FOOTER -->
{{ partial "footer.html" . }}
<!-- END FOOTER -->
<!-- BACK TO TOP -->
<a href="#0" class="backtotop"></a>
<!-- END BACK TO TOP -->
{{ end }}