{{ define "main" }}
<!-- INNER CONTAINER -->
<div class="inner-container">
    <!-- SECTION -->
    <section class="full-height parallax" data-overlay="2" data-jarallax data-speed="0.2">
        <img class="jarallax-img" src="{{ .Site.BaseURL }}/assets/images/large9.jpg" alt="">
        <div class="v-middle">
            <div class="row">
                <div class="large-12 columns text-center">
                    <h5 class="topheading reveal-from-bottom">WAZIUP Association</h5>
                    <h1 class="reveal-from-bottom">launching<em> soon</em></h1>
                    <h5 class="subheader reveal-from-bottom">Hit the contact us button below to get in touch with us.</h5>
                    <a href="mailto:fiifi.baidoo@waziup.org" class="button filled rounded reveal-from-bottom">Contact Us</a>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION -->
</div>
<!-- END INNER CONTAINER -->
<!-- BACK TO TOP -->
<a href="#0" class="backtotop"></a>
<!-- END BACK TO TOP -->
{{ end }}